<!DOCTYPE html>
<html>
  <head>
    <title>나의 게시판</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <header>
      <h1>나의 게시판</h1>
      <p>나의 게시판에 오신것을 환영합니다</p>
    </header>
    <section>
      <table>
        <tr>
          <th>NO</th>
          <th>작성일자</th>
          <th>작성시각</th>
          <th>작성자</th>
          <th>제목</th>
          <th>조회수</th>
        </tr>
        <% BBS.forEach((vo,index)=>{ %>
        <tr data-id="<%- vo.b_id %>"" >
          <td><%- index %></td>
          <td><%- vo.b_date %></td>
          <td><%- vo.b_time %></td>
          <td><%- vo.b_writer %></td>
          <td><%- vo.b_subject %></td>
          <td><%- vo.b_count %></td>
        </tr>
        <% }) %>
      </table>
      <div class="btn_box">
        <button class="btn_write">글쓰기</button>
      </div>
    </section>
    <footer>
      <address>CopyRight &copy; callor@callor.com</address>
    </footer>
  </body>
  <script>
    document.querySelector("button.btn_write").addEventListener("click", () => {
      document.location.href = "/bbs/write";
    });
  </script>
</html>
