<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/form.css" rel="stylesheet" />
    <style>
      section.bbs_detail {
        width: 80%;
        margin: 10px auto;
      }

      section.bbs_detail span {
        display: inline-block;
        padding: 1rem;
        margin: 5px;
      }

      section.bbs_detail span.title {
        width: 30%;
        background-color: #ddd;
        text-align: right;
      }

      section.bbs_detail span.data {
        width: 60%;
        background-color: #eee;
      }

      section.reply input {
        width: 90%;
      }

      section.reply {
        width: 80%;
        margin: 5px auto;
      }

      article.reply {
        width: 70%;
        margin: 0 auto;
        display: flex;
      }

      article.reply div {
        padding: 5px;
        margin: 5px;
        background-color: #ccc;
      }

      article.reply div:nth-of-type(1) {
        flex: 1;
      }
      article.reply div:nth-of-type(2) {
        flex: 3;
      }
    </style>
  </head>
  <body>
    <section class="bbs_detail">
      <div>
        <span class="title">작성자</span>
        <span class="data"><%- BBS.b_writer %></span>
      </div>
      <div>
        <span class="title">작성일자</span>
        <span class="data"><%- BBS.b_date %></span>
      </div>
      <div>
        <span class="title">작성시각</span>
        <span class="data"><%- BBS.b_time %></span>
      </div>
      <div>
        <span class="title">제목</span>
        <span class="data"><%- BBS.b_subject %></span>
      </div>
      <div>
        <span class="title">내용</span>
        <span class="data"><%- BBS.b_text %></span>
      </div>
      <div class="btn_box">
        <button class="btn btn_home">홈으로</button>
        <button class="btn btn_update">수정</button>
        <button class="btn btn_delete">삭제</button>
      </div>
    </section>
    <section class="reply">
      <% BBS.tbl_replies.forEach( (vo,index)=>{ %>
      <article class="reply">
        <div><%- vo.r_writer %></div>
        <div><%- vo.r_content %></div>
        <div class="reply_delete" data-rid="<%- vo.id %>">X</div>
      </article>
      <% }) %>
      <form method="POST" action="/bbs/reply">
        <input type="hidden" name="r_postId" value="<%- BBS.b_id %>" />
        <div>
          <input
            name="r_writer"
            id="r_writer"
            placeholder="작성자를 입력하세요"
          />
        </div>
        <div>
          <input
            name="r_content"
            id="r_content"
            placeholder="댓글을 입력하세요"
          />
        </div>
        <div class="btn_box"><button class="btn_reply">댓글저장</button></div>
      </form>
    </section>
  </body>
  <script>
    document.querySelector("div.btn_box").addEventListener("click", (e) => {
      const btn = e.target;
      const className = btn.className;
      let url = "/";
      if (className.includes("btn_update")) {
        url += `bbs/update?b_id=<%- BBS.b_id %>`;
      } else if (className.includes("btn_delete")) {
        url += `bbs/delete?b_id=<%- BBS.b_id %>`;
      }
      document.location.href = url;
    });
    document.querySelector("section.reply").addEventListener("click", (e) => {
      const click_tag = e.target;

      if (
        click_tag.tagName === "DIV" &&
        click_tag.className.includes("reply_delete")
      ) {
        let rid = click_tag.dataset.rid;
        if (confirm("댓글을 삭제합니다")) {
          document.location.href = "/bbs/reply/delete/" + rid;
        }
      }
    });
  </script>
</html>
